*{
    margin: 1px;
    padding: 1px;
    font-family: 'Titillium Web', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background-photo.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text h1{
    font-size: 45px;
}
.text p{
    margin: 10px 0 40px;
    font-size: 18px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid rgba(255, 94, 0, 0.897);
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    background-color: rgba(255, 94, 0, 0.897);
    border-radius: 7px;
    
}

.aside{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 42px;
    font-weight: 600;
}

h2{
    margin-top: 30px;
    padding: 30px;
    font-weight: 400;
    font-size: 1rem;
}

.flex-container{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.flex-item{
    background-color: #fbe7e7;
    padding: 20px;
    border-radius: 5px;
    font-size: 42px;
    text-align: center;
}
.flex-item:hover{
    color: ;
    background-color: #ec4b4b;
}
.active{
    border: 2px solid rgba(255, 0, 0, 0.897);
    background-color: #fbe7e7;
    border-radius: 5%;
    height: 70px;
    width: 185px;
}
.wrapper{
    display: flex;
    background-color: #fff4d6;
    height: 182px;
    width: 700px;
    margin: 0 auto;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;    
}
.wrapper .field input{
    border: 2px solid white;
    border-radius: 4px 0 0 4px;
    margin-left: 0;
    padding: 10px;
    font-size: 15px;
    outline: none;
}

.footer{
    margin-top: 103px;
    background-color: black;
    font-style: italic;
    color: #FF6633;
    text-align: center;
}

.btn-1 {
    padding: 12px 36px;
    font-size: 15px;
    background-color: #ff5959;
    margin-left: -6px;
    outline: none;
    border: 0;
    border-radius: 0 4px 4px 0;
    color: #fbe7e7;
}

.footer p{
    color: white;
    margin-bottom: 35px;
}