*{
    margin: 1px;
    padding: 1px;
    font-family: 'Titillium Web', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background-photo.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text h1{
    font-size: 45px;
}
.text p{
    margin: 10px 0 40px;
    font-size: 18px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid rgba(255, 94, 0, 0.897);
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    background-color: rgba(255, 94, 0, 0.897);
    border-radius: 7px;
    
}

.aside{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 42px;
    font-weight: 600;
}

h2{
    margin-top: 30px;
    padding: 30px;
}

.flex-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 40px;
}

.flex-item{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 42px;
    text-align: center;
}

.active{
    border: 2px solid rgba(255, 94, 0, 0.897);
}

.box{
    width: 100vh;
    height: 150px;
    background-color: #b8b47cfd;
    position: absolute;
    margin-top: 50px;
    margin-left: 240px;
}

.form-box input{
    margin-top: 70px;    
    padding: 10px;
}

.footer{
    margin-top: 300px;
    background-color: black;
    font-style: italic;
    color: #FF6633;
    text-align: center;
}

.footer p{
    color: white;
    margin-bottom: 35px;
}